<?xml version="1.0"?>
<!-- The XML declaration. It defines the XML version and the encoding used in the document. Standard for all XML files. -->

<!-- The root element for the model configuration file. -->
<model>
  <!-- The 'name' tag specifies the name of the model. It should be unique and descriptive. -->
  <name>unicampus1</name>

  <!-- The 'version' tag indicates the version of the model. This can be useful for version control and updates. -->
  <version>1.0</version>

  <!-- The 'sdf' tag points to the SDF file that describes the physical and visual aspects of the model. -->
  <!-- The version attribute in the sdf tag should match the SDF format version used in your model.sdf file. -->
  <sdf version='1.6'>model.sdf</sdf>

  <!-- The 'author' tag provides information about the creator of the model. -->
  <author>
    <name>Group4</name> <!-- The name of the author or creator of the model. -->
    <email>email</email> <!-- Contact email of the author. -->
  </author>

  <!-- The 'description' tag gives a brief overview of what the model represents or is used for. -->
  <description>
    This model represents the unicampus with buildings and roads created in SketchUp and exported as a COLLADA file.
  </description>

</model>
